.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

#text{
	font-size: 1.2em;
}

.dropdown{
	color: #f6b319
}

hr {
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
}

header div:nt-child(3){
	padding-left: 0; 
	padding-right: 0; 
	overflow: hidden;
}

#cont{
	background-color: lightgray;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 1px;
	padding-bottom: 5px;
}